/*!
 * 1st Choice Child
 * editor-style.css
*/
:root {
	--black:        #000000;
	--red:          #c2181a;
	--blue:         #0d94ff;
	--gold:         #e5c249;
	--grey:         #676767;
	--grey-vdark:   #2f2f2f;
	--grey-dark:    #414141;
	--grey-light:   #d9d9d9;
	--grey-vlight:  #efefef;
	--white:        #ffffff;

	--text: var(--black);
	--text-input: var(--text);
	--link-hover-color: #951214;
	--button-bg: var(--link-color);
	--button-text: var(--white);
	--button-border-color: transparent;
	--button-border-color-hover: transparent;
	--error:      var(--red);
	--info:       var(--blue);
	--success:    var(--green);

	--border-radius: 10px;
}

* {
	font-family: sans-serif;
}

:root :where(.wp-element-button, .wp-block-button__link) {
	background: var(--grey-dark);
	color: var(--white);
	border-radius: var(--border-radius);
	border: 2px solid var(--blue);
}

.block-editor-block-list__layout .block-editor-block-list__block.home-hero-tag {
	background: var(--grey-dark);
	color: var(--white)
}

	.block-editor-block-list__layout .block-editor-block-list__block.big-red-box {
	background: var(--red);
	color: var(--white);
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.block-editor-block-list__layout .wp-block-genesis-custom-blocks-big-red-block {
	background: var(--red);
	color: var(--white);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.block-editor-block-list__layout .block-editor-block-list__block.testimonials-section {
	border-top: 1px solid var(--grey-vlight);
	border-bottom: 1px solid var(--grey-vlight);

	.wp-block-quote {
		background: var(--grey-vlight);
		border-left: none;
		padding: 0 1rem 1rem;
	}
}
.block-editor-block-list__layout .block-editor-block-list__block.wp-block-group.trust-schedule {
	border-top: 1px solid var(--grey-vlight);
	border-bottom: 1px solid var(--grey-vlight);
}
.block-editor-block-list__layout .block-editor-block-list__block.wp-block-group.red-cards {
	border-top: 5px solid var(--red);
	border-bottom: 5px solid var(--link-hover-color);
	background: rgba( 194, 24, 26, 0.4 );
}
.block-editor-block-list__layout .block-editor-block-list__block.wp-block-group.grey-vdark-bg,
.block-editor-block-list__layout .block-editor-block-list__block.wp-block-group.grey-dark-bg {
	border-top: 5px solid var(--grey-vdark);
	border-bottom: 5px solid var(--grey-vdark);
	background: var(--grey-vlight);
}
.block-editor-block-list__layout .block-editor-block-list__block.wp-block-group.grey-vlight-bg {
	border-top: 5px solid var(--grey);
	border-bottom: 5px solid var(--grey);
	background: var(--grey-vlight);
}

/* DEFINITION LIST BLOCKS */
.block-editor-block-list__layout .wp-block-simple-definition-list-blocks-list {
	border-left: 0.5rem solid var(--grey-light);
	padding-left: 0.5rem;
}
.block-editor-block-list__layout .wp-block-simple-definition-list-blocks-term {
	font-weight: bold;
	background-color: var(--grey-light);
}