/*!
 * 1st Choice Child
 * editor-style.css
*/
:root {
	--black:        #000000;
	--red:          #c2181a;
	--blue:         #0d94ff;
	--gold:         #e5c249;
	--grey:         #676767;
	--grey-vdark:   #2f2f2f;
	--grey-dark:    #414141;
	--grey-light:   #d9d9d9;
	--grey-vlight:  #efefef;
	--white:        #ffffff;

	--text: var(--black);
	--text-input: var(--text);
	--link-hover-color: var(--purple-dark);
	--button-bg: var(--link-color);
	--button-text: var(--white);
	--button-border-color: transparent;
	--button-border-color-hover: transparent;
	--error:      var(--red);
	--info:       var(--blue);
	--success:    var(--green);

	--border-radius: 10px;
}

* {
	font-family: sans-serif;
}

:root :where(.wp-element-button, .wp-block-button__link) {
	background: var(--grey-dark);
	color: var(--white);
	border-radius: var(--border-radius);
	border: 2px solid var(--blue);
}

.block-editor-block-list__layout .block-editor-block-list__block.home-hero-tag {
	background: var(--grey-dark);
	color: var(--white)
}

	.block-editor-block-list__layout .block-editor-block-list__block.big-red-box {
	background: var(--red);
	color: var(--white);
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.block-editor-block-list__layout .wp-block-genesis-custom-blocks-big-red-block {
	background: var(--red);
	color: var(--white);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.block-editor-block-list__layout .block-editor-block-list__block.testimonials-section {
	background: var(--grey-light);
	background: linear-gradient(0deg, var(--grey-light) 75%, var(--white) 100%);

}
